<!-- <div class="container">
    <h2>Davening List</h2>
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  
    <h2>Lesson List</h2>
    <mat-list>
      <mat-list-item>Lesson 1</mat-list-item>
      <mat-list-item>Lesson 2</mat-list-item>
      <mat-list-item>Lesson 3</mat-list-item>
    </mat-list>
  
    <h2>Video Player</h2> -->
<!-- Insert your video player component here -->
<!-- Example: -->
<!-- <video controls>
         <source src="video.mp4" type="video/mp4">
         Your browser does not support the video tag.
      </video> -->
<!-- </div> -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="מציין מיקום: שקופית ראשונה"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>First slide</title>
        <image href="https://img.freepik.com/premium-photo/passage-library-bookcases_23-2147845927.jpg?w=900" 
        width="1600" height="800" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="מציין מיקום: שקופית שנייה"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second
          slide</text>
      </svg>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="מציין מיקום: שקופית שלישית"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third
          slide</text>
      </svg>
    </div>
  </div>
</div> -->