<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-field"><h1>Sign Up</h1></div>  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="signupForm.get('name').hasError('required')">Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="signupForm.get('email').hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email').hasError('email')">Invalid email format</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
        <mat-error *ngIf="signupForm.get('phoneNumber').hasError('required')">Phone number is required</mat-error>
        <mat-error *ngIf="signupForm.get('phoneNumber').hasError('pattern')">Invalid phone number format</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="signupForm.get('password').hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select formControlName="level">
          <mat-option value="" disabled>Select level</mat-option>
          <mat-option value="beginner">Beginner</mat-option>
          <mat-option value="intermediate">Intermediate</mat-option>
          <mat-option value="advanced">Advanced</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.get('level').hasError('required')">Level is required</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
    <button mat-raised-button color="primary"(click)="toLogin()">Already registered? to login</button>
  </form>
